<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/bootstrap/docs/shinsegae.JPG">
<title>Meta System</title>
<!-- Bootstrap core CSS -->
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/views/js/plugin/jquery/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/views/js/common.js"></script>
<script src="/views/js/plugin/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="/views/js/plugin/tableExport/tableExport.min.js"></script