<!doctype html>
    <html lang="en">
      <head>
        <% include ./header.ejs%>
      </head>

      <body>
        <% include ./menu.ejs %>
        <div class="container" style="margin-top:60px;">
          <form class="form-inline pull-right" style="margin-bottom:10px;">
            <div class="form-group">
              <select class="form-control" id="searchCondition">
                ${selectOption}
              </select>
              <input type="text" id="keyword" placeholder="키워드" class="form-control">
              <button type="button" class="btn btn-success" id="searchBtn">검색</button>
            </div>
          </form>
          <table class="table table-bordered table-hover" id="listTbl">
            ${data}
          </table>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default pull-right" style="margin-right:5px;">엑셀 다운로드</button>
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" id="addBtn" style="margin-right:5px;">추가</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">추가</h4>
                </div>
                <form class="form-horizontal" id="executeForm" action="/create" method="post">
                  <div class="modal-body">
                    ${modalContent}
                  </div>
                  <div class="modal-footer">
                    <label for="ID" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-5"><input type="text" class=" form-control" id="id" name="id" placeholder="ID"></div>
                    <button type="button" class="btn btn-primary" id="executeBtn">추가</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="historyModalLabel"></h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered table-hover" id="historyTbl">
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function () {
            
            // 메뉴바 하이라이트 표기
            var pathName = $(location).attr('pathname').split('/')[1];
            if ("word" == pathName) {
              $("#navWord").addClass("active");
              $("#navDomain").removeClass("active");
            } else if ("domain" == pathName) {
              $("#navWord").removeClass("active");
              $("#navDomain").addClass("active");
            }

            // 추가 버튼 클릭
            $("#addBtn").click(function() {
              $("#wordName").val("");
              $("#wordAbbreviation").val("");
              $("#wordFullName").val("");
              $("#wordSortation").val("수식어");
              $("#wordDefinition").val("");
              $("#myModalLabel").text("추가");
              $("#executeBtn").text("추가");
              $("#executeForm").attr("action", "/create/"+pathName);
              $('#myModal').modal('show'); 
            });

            $("#executeBtn").click(function() {
              $("#executeForm").submit();
            });
            
            $("#checkDomainNameBtn").click(function () {
              var data = new Object();
              data.condition =  "name";
              data.keyword = $("#domainName").val();
              data.whereMode = "equal";
              $.ajax({
                url:"/keywordSearch",
                type:'post',
                data: data,
                dataType:'json',
                success:function(data){
                  $.each(data, function(key, value){
                  });

                  if (0 >= data.length) {
                    alert('표준 단어명에 있는 단어만 입력가능합니다.');
                    $("#domainName").val("");
                    $("#domainName").focus();
                  } else {
                    $("#domainAbbreviation").val(data[0].ABBREVIATION);
                    $("#domainFullName").val(data[0].FULLNAME);
                  }
                }
              });
            }); 

            $("#searchBtn").click(function () {
              var pathName = $(location).attr('pathname').split('/')[1];
              var data = new Object();
              data.condition =  $("#searchCondition").val();
              data.keyword = $("#keyword").val();

              if ('word' == pathName) {
                $.ajax({
                  url:"/keywordSearch/word",
                  type:'post',
                  data: data,
                  dataType:'json',
                  success:function(data){
                    var list = '<tr>'
                      +'<th class="text-center">순번</td>'
                      +'<th class="text-center">단어명</td>'
                      +'<th class="text-center">영문약어명</td>'
                      +'<th class="text-center">영문명</td>'
                      +'<th class="text-center">구분</td>'
                      +'<th class="text-center">정의</td>'
                      +'<th class="text-center">작성일</td>'
                      +'<th class="text-center">삭제/이력관리</th>'
                    +'<tr>';
                    var number = 1;
                    var mode = "'word'";
                    $.each(data, function(key, value){
                      list += '<tr>';
                      list += '<td class="text-center">'+ number + '</td>';
                      list += '<td>'+ value.NAME + '</td>';
                      list += '<td>'+ value.ABBREVIATION + '</td>';
                      list += '<td>'+ value.FULLNAME + '</td>';
                      list += '<td class="text-center">'+ value.SORTATION + '</td>';
                      list += '<td>'+ value.DEFINITION + '</td>';
                      list += '<td class="text-center">'+ value.WRITEDATE + '</td>';
                      list += '<td class="text-center"><button type="button" class="btn btn-danger" onclick="deleteProcess('+mode+','+  value.SEQ + ');">삭제</button>&nbsp;<button type="button" class="btn btn-default" onclick="getHistory('+mode+','+  value.SEQ + ');">이력</button></td>';
                      list += '</tr>';
                      number++;
                    });
                    $("#listTbl").html(list);
                  }
                });
              } else if ('domain' == pathName) {
                $.ajax({
                  url:"/keywordSearch/domain",
                  type:'post',
                  data: data,
                  dataType:'json',
                  success:function(data){
                    var list = '<tr>'
                      +'<th class="text-center">순번</td>'
                      +'<th class="text-center">그룹명</td>'
                      +'<th class="text-center">도메인명</td>'
                      +'<th class="text-center">영문약어명</td>'
                      +'<th class="text-center">영문명</td>'
                      +'<th class="text-center">데이터타입</td>'
                      +'<th class="text-center">정의</td>'
                      +'<th class="text-center">작성일</td>'
                      +'<th class="text-center">삭제/이력관리</th>'
                    +'<tr>';
                    var number = 1;
                    var mode = "'domain'";
                    $.each(data, function(key, value){
                      list += '<tr>';
                      list += '<td class="text-center">'+ number + '</td>';
                      list += '<td>'+ value.GROUPNAME + '</td>';
                      list += '<td>'+ value.NAME + '</td>';
                      list += '<td>'+ value.ABBREVIATION + '</td>';
                      list += '<td>'+ value.FULLNAME + '</td>';
                      list += '<td class="text-center">'+ value.DATATYPE + '('+ value.DATALENGTH +','+value.DATADECIMAL+')</td>';
                      list += '<td>'+ value.DEFINITION + '</td>';
                      list += '<td class="text-center">'+ value.WRITEDATE + '</td>';
                      list += '<td class="text-center"><button type="button" class="btn btn-danger" onclick="deleteProcess('+mode+','+  value.SEQ + ');">삭제</button>&nbsp;<button type="button" class="btn btn-default" onclick="getHistory('+mode+','+  value.SEQ + ');">이력</button></td>';
                      list += '</tr>';
                      number++;
                    });
                    $("#listTbl").html(list);
                  }
                });
              }
            });
          });
  
          
          function getInfoForUpdate(seq, name, abbreviation, fullName, sortation, definition) {
            $("#wordSeq").val(seq);
            $("#wordName").val(name);
            $("#wordAbbreviation").val(abbreviation);
            $("#wordFullName").val(fullName);
            $("#wordSortation").val(sortation);
            $("#wordDefinition").val(definition);
            $("#myModalLabel").text("수정");
            $("#executeBtn").text("수정");
            $("#executeForm").attr("action", "/update/word");
            $('#myModal').modal('show'); 
          }


          function getDomainInfoForUpdate(seq, groupName, name, abbreviation, fullName, dataType, dataLength, dataDecimal, definition) {
            $("#domainSeq").val(seq);
            $("#domainGroupName").val(groupName);
            $("#domainName").val(name);
            $("#domainAbbreviation").val(abbreviation);
            $("#domainFullName").val(fullName);
            $("#domainDataType").val(dataType);
            $("#domainDataLength").val(dataLength);
            $("#domainDataDecimal").val(dataDecimal);
            $("#domainDefinition").val(definition);
            $("#myModalLabel").text("수정");
            $("#executeBtn").text("수정");
            $("#executeForm").attr("action", "/update/domain");
            $('#myModal').modal('show'); 
          }

          function deleteProcess(mode, seq) {
            if(confirm("삭제하시겠습니까?")) { 
              if ('word' == mode) {
                location.replace('/delete/word/'+seq); 
              } else if ('domain' == mode) {
                location.replace('/delete/domain/'+seq); 
              }
            }
          }

          function getHistory(mode, seq) {
            $.ajax({
              url:"/getHistory/"+mode+"/"+seq,
              dataType:'json',
              success:function(data){
                var name = "";
                if ("word" == mode) {
                  var list = '<tr>'
                  +'<th class="text-center">단어명</td>'
                  +'<th class="text-center">영문약어명</td>'
                  +'<th class="text-center">영문명</td>'
                  +'<th class="text-center">구분</td>'
                  +'<th class="text-center">정의</td>'
                  +'<th class="text-center">작성자</td>'
                  +'<th class="text-center">작성일</th>'
                +'<tr>';
                $.each(data, function(key, value){
                  list += '<tr>';
                  list += '<td>'+ value.NAME + '</td>';
                  list += '<td>'+ value.ABBREVIATION + '</td>';
                  list += '<td>'+ value.FULLNAME + '</td>';
                  list += '<td class="text-center">'+ value.SORTATION + '</td>';
                  list += '<td>'+ value.DEFINITION + '</td>';
                  list += '<td class="text-center">'+ value.WRITEID + '</td>';
                  list += '<td class="text-center">'+ value.WRITEDATE + '</td>';
                  list += '</tr>';
                  name = value.NAME;
                });
                } else if ("domain" == mode) {
                  var list = '<tr>'
                  +'<th class="text-center">그룹명</td>'
                  +'<th class="text-center">도메인명</td>'
                  +'<th class="text-center">영문약어명</td>'
                  +'<th class="text-center">영문명</td>'
                  +'<th class="text-center">데이터타입</td>'
                  +'<th class="text-center">정의</td>'
                  +'<th class="text-center">작성자</td>'
                  +'<th class="text-center">작성일</th>'
                  +'<tr>';
                  $.each(data, function(key, value){
                    list += '<tr>';
                    list += '<td>'+ value.GROUPNAME + '</td>';
                    list += '<td>'+ value.NAME + '</td>';
                    list += '<td>'+ value.ABBREVIATION + '</td>';
                    list += '<td>'+ value.FULLNAME + '</td>';
                    list += '<td class="text-center">'+ value.DATATYPE + '('+ value.DATALENGTH +','+value.DATADECIMAL+')</td>';
                    list += '<td>'+ value.DEFINITION + '</td>';
                    list += '<td class="text-center">'+ value.WRITEID + '</td>';
                    list += '<td class="text-center">'+ value.WRITEDATE + '</td>';
                    list += '</tr>';
                    name = value.NAME;
                  });
                }

                $("#historyModalLabel").text(name+" 이력");
                $("#historyTbl").html(list);
                $("#historyModal").modal('show');
              }
            });
          }
        </script>
      </body>
    </html>